/* Global reset and base styles */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html, body {
  height: 100%; /* Ensures the body spans the full viewport height */
}

#root {
  display: flex;
  flex-direction: column;
  min-height: 100vh; /* Full viewport height for the root element */
}

body {
  font-family: Arial, sans-serif; /* Set your default font */
  line-height: 1.6; /* Improve text readability */
  background-color: #f9f9f9; /* Optional: Set a background color */
}

/* Your existing styles */
.App {
  text-align: center;
}


@media (prefers-reduced-motion: no-preference) {
  
}
  

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
